body{
    background-color: black;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web';
    color: white;
}
p{
    text-align: center;
    font-size: 2.5em;
}

#logo{
    /*width: 40%;*/
    margin: 0 auto;
}

#logo img{
    width: 100%;
}